body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
}

.pageContainer {
    display: grid;
    grid-template-columns: 10vw 90vw;
    grid-template-rows: 5vh 10vh 75vh 10vh;
}

.homeLayout {
    grid-template-areas:
        'header header'
        'catagories categories'
        'options phrases'
        'preview preview'
}

.header {
    /* will need own grid layout or flexbox for information */
    grid-area: header;
    border: 1px solid grey;
}

/* nested grid for category buttons to be layed out */
.phrases {
    grid-area: categories;
    display: grid;
    grid-template-columns: 1fr;
}

.catRow {
grid-column: 1 / 5;
}

/* FOCUS RELATED THINGS */
/* general focus styling -- needs checking on all devices */
*:focus {
    outline: 2px solid #d71ef7;
}


/* styling for visual elements */
.phraseButton{
    width: 20vw;
    height: 10vh;
    font-size: 1em;
    margin: 2px;
    border-radius: 5px;
}