
/* Main Grid Declarations */

.mainContainer {
    height: 100vh;
    display:grid;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
        "header"
        "mainContent"
}

.header{
    grid-area: header;
    min-height: 100%;
}

#SPAContainer {
    grid-area: mainContent;
    /* nested grid for content */
    display:grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    grid-template-areas:
        "mainHeader"
        "mainCategories"
        "subcategories"
        "exampleText"
}

/* Main page SubGrids */
/* mainHeader */
.mainHeader {
    grid-area: mainHeader;
}

.mainCategories {
    grid-area: mainCategories;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 5px 10px;
    grid-gap: 10px;

}

.subcategories {
    margin: 5px 10px;
    grid-area: subcategories;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;

}

.exampleText {
    grid-area: exampleText;
}

.phrases {
    grid-area: mainCategories;
    /* Commented out in Prep for auto focus divs */
    display:grid;
    grid-template-rows: minmax(1fr);
}
/* for focus manipulation */
.phraseDiv {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

/*Pain Page grid*/

.pain {
    grid-area: mainCategories;
/* grid-row-start: 1; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "body options"
}

.body {
    grid-area: body;

}
.body .img {
    height: 1fr;
}



/* Pain scan animations */
.preloader-scan {
    left: 0;
    right: 0;
    /* max-width: %; */
    display: table;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
    
.laser {
    width: 100%;
    margin-left: -25%;
    background-color: red;
    height: 5px;
    position: absolute;
    top: 40%;
    z-index: 2;
    box-shadow: 0 0 4px red;
    /* animation: scanning 2s infinite; */
  }

@keyframes scanning {
  50% {
    transform: translateY(100%);
  }
}