/* Temporary to see grid outlines better */
div {
    border: 1px solid black;
}
/* Main Grid Declarations */

.mainContainer {
    height: 100vh;
    display:grid;
    grid-template-rows: 10% 1fr;
    grid-template-areas:
        "header"
        "mainContent"
}

.header{
    grid-area: header;
    min-height: 100%;
}

#SPAContainer {
    grid-area: mainContent;
    /* nested grid for content */
    display:grid;
    grid-template-rows: 1fr 4fr 2fr 1fr;
    grid-template-areas:
        "mainHeader"
        "mainCategories"
        "subcategories"
        "exampleText"
}

/* Main page SubGrids */
/* mainHeader */
.mainHeader {
    grid-area: mainHeader;
}

.mainCategories {
    grid-area: mainCategories;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 5px 10px;
    grid-gap: 10px;

}

.subcategories {
    margin: 5px 10px;
    grid-area: subcategories;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;

}

.exampleText {
    grid-area: exampleText;
}

.phrases {
    grid-area: mainCategories;
    /* Commented out in Prep for auto focus divs */
    display:grid;
    grid-template-rows: minmax(1fr);
}
/* for focus manipulation */
.phraseDiv {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 5px;
}

/*Pain Page grid*/

.pain {
    grid-area: 
    mainCategories, subcategories, exampleText;

    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template-areas:
        "body options"
}

.body {
    grid-area: body;
}