.laser {
    width: 150%;
    margin-left: -25%;
    background-color: tomato;
    height: 1px;
    position: absolute;
    top: 40%;
    z-index: 2;
    box-shadow: 0 0 4px red;
    animation: scanning 2s infinite;
  }

@keyframes scanning {
  50% {
    transform: translateY(100px);
  }
}