/* Header Style */
header div {
    background-color: slategrey;
    width: auto%;
    margin-left:5vw;
}

div, button {
    box-sizing: border-box;
}
/* Style button in entries */


div :focus{
    box-sizing: border-box;
    border: 2px solid pink;
}

/* Style button in entries (2nd level) */

div {
    box-sizing: border-box;
    padding: 0px;
    background-color: #F8F8F8;
    color: #f8f8f8;
}
.entry {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: slategray;
    color: #F8F8F8;
}

.entry:hover, .entry:focus {
     border-color: purple; 
     border-width: 8px;
}

/*#button:hover, button:focus {
    border-color: currentColor;
    background-color: white;
}*/

.header {
    color: #F8F8F8;
    background-color: slategrey;
}
    
.phraseDiv:focus {
        border-width: 8px;
        border-color: purple;
}

#date, #day {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;    
}

#time {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;

}

#here {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    /* float: right; */
   
}

.section {
    background-color: slategray;
    color: #F8F8F8;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#basic {
    background-color:#2E8B57;
    border-width: 16px; 
    border-color: #2E8B57;
    
    
}

#basic:hover, #basic:focus {
    background-color: #F8F8F8;
    color: #2E8B57;
}

#am {
    background-color: #765AB0;
    border-width: 16px;  
    border-color: #765AB0;
    
}

#am:hover, #am:focus {
    background-color: #F8F8F8;
    color: #765AB0;
}

#pain {
    background-color: #BC2C33;
    border-width: 16px; 
    border-color: #BC2C33;
    
}

#pain:hover, #pain:focus {
    background-color: #F8F8F8;
    color: #BC2C33;
}

#need {
    background-color: #0088A0;
    border-width: 16px; 
    border-color: #0088A0;
    
}

#need:hover, #need:focus {
    background-color: #F8F8F8;
    color: #0088A0;
}

#conversation {
    /* border: 16px, green; */
    background-color: #C14B9C;
    border-width: 16px; 
    border-color: #C14B9C;
       
}

#conversation:hover, #conversation:focus {
    background-color: #F8F8F8;
    color: #C14B9C;
}
