/* Style button in entries (2nd level) */

div {
    box-sizing: border-box;
    padding: 0px;
}
.entry {
    /*color:red; */ 
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.entry:hover, .entry:focus {
     /*color:red; */ 
     border-color: purple; 
     border-width: 8px;
     

}

/*#button:hover, button:focus {
    border-color: currentColor;
    background-color: white;
}*/

.header {
    color: white;
    background-color: slategrey;
    
}

#date {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 33%;
    padding-right: 100px;
}

#time {
    color: greenyellow;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    width: 33%;
}

#here {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    float: right;
   
}

.section {
    
    background-color: purple;

}
#basic {
    background-color: blue;
    border-width: 16px; 
    border-color: blue;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

#basic:hover, #basic:focus {
    background-color: white;
}

#am {
    background-color: orange;
    border-width: 16px; 
    border-color: orange;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#am:hover, #am:focus {
    background-color: white;
}

#pain {
    background-color: red;
    border-width: 16px; 
    border-color: red;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

#pain:hover, #pain:focus {
    background-color: white;
}

#need {
    background-color: yellow;
    border-width: 16px; 
    border-color: yellow;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; 
}

#need:hover, #need:focus {
    background-color: white;
}

#conversation {
    /* border: 16px, green; */
    background-color: green;
    border-width: 16px; 
    border-color: green;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

#conversation:hover, #conversation:focus {
    background-color: white;
}

/* border size type color --- do as one entry */