.topBar {
    width: 100%;
    height: 12vh;
}

.shortcut {
    height: 12vh;
    float: inline-end;
}

.largeButton, button{
    width: auto;
    height: 10vh;
    font-size: 1em;
    margin: 2px;
}
.entry {
    color: #888888;

}

*:focus {
    outline: 2px solid #d71ef7;
}